


// GLOBAL VARIABLES OF COLORS
$primary: #ffffff;
$secondary: #abb3bb;
$tertiary: #cc0201;

// GLOBAL VARIABLES OF FONTS
$font-primary: "Source Sans Pro";
$font-secondary: "Montserrat";
$font-tertiary: "Quicksand";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  
}
.navbar {
  background-color: $primary;
  height: 5rem;
  width: 100%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  z-index: 3;
  opacity: 0.9;
    
}

.navbar_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;


  .login {
    color: $secondary;
    }
  }

// MEDIA QUERIES

// laptop
@media only screen and (max-width: 992px) {
.navbar{
  padding: 0 4rem;
  width: 100%;
}
.navbar_links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}
}

// tablet
@media only screen and (max-width: 768px) {
.navbar{
  padding: 0 5rem;
  width: 100%;
}
}

// mobile
@media only screen and (max-width: 576px) {
  .navbar {
  height: 4rem;
  width: 100%;
  padding: 0 2rem;
  }
.navbar_links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 30%;

}

}